* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline:none;
    scroll-behavior: smooth;
    font-family: Impact, Haettenschweiler, 
    'Arial Narrow Bold', sans-serif;
}
:root {
    --bg-color:var(--bg-color)
    --second-bg-colour: #131313
    --text-colour: white;
    --main-colour: #00ffee
}
